body {
  background-color: dimgrey;
}

.AR {
  &-button {
    position: absolute;
    bottom: 20px;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
    left: calc(50% - 50px);
    width: 100px;

    &-exit {
      z-index: 10;
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
