.overlay {
  position: fixed;
  display: flex;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.overlay-canvas {
  position: fixed;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  // background: rgba(255, 255, 255, 0.2);
}

.hide {
  display: none;
}
