.overlay {
  position: fixed;
  display: flex;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(255, 255, 255, 0.1);
  z-index: 10;
  // background: darkkhaki;

  &-ar {
    top: 0;
  }
}

.hide {
  display: none;
}
