.button-navi {
  display: flex;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  font: 13px sans-serif;
  text-align: center;

  background: rgba(211, 211, 211, 0.37);
  color: rgba(0, 0, 0, 0.897);

  outline: none;
  border: none;
  cursor: pointer;

  svg {
    margin: auto;
  }
}
