.button-place {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  font: 13px sans-serif;
  text-align: center;

  background: rgba(141, 137, 137, 0);
  color: #fff;

  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: rgba(141, 137, 137, 0.856);
  }

  svg {
    margin: auto;
  }
}
